@font-face {
  font-family: Nunito;
  src: url(./font/Nunito-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
#home {
  background-color: #eee;
}
#navbar .navbar {
  padding: 0;
  background-color: #2874f0;
}
input[type="search"] {
  height: 36px;
  outline: none;
  font-size: 14px;
  border-radius: 2px;
}
.navbar-brand h7 {
  font-size: 11px;
  font-style: italic;
}
.navbar-brand .plus {
  width: 11px;
}
.navbar-brand .logo {
  margin-top: -12px;
}
.navbar-brand .flipkart {
  width: 160px;
}
.Carousel-indicators-2 {
  background-color: #eee;
}
.Carousel-fullHeightHoverWrapper-7 {
  top: -20px !important;
  height: 100%;
}
.MuiSvgIcon-root {
  font-size: 2.8rem !important;
}
.Carousel-button-10 {
  margin: 0 !important;
}

.card {
  padding-inline: 0 !important;
}
.row > * {
  padding-right: 0 !important;
}
.banner2 .card {
  max-height: 361px;
}
.cardH {
  max-height: 361px;
  width: fit-content;
}
.imgH {
  height: 200px;
  width: 200px;
}
.react-multiple-carousel__arrow {
  background-color: #fff !important;
  height: 104px;
  border-radius: 3px !important;
  color: black !important;
  box-shadow: 0px 0px 5px 1px gray;
  outline: none !important;
}
.react-multiple-carousel__arrow::before {
  color: black !important;
  font-weight: bolder;
  padding-inline: 17px;
}
.react-multiple-carousel__arrow:hover {
  box-shadow: 0px 0px 11px 2px gray;
}
.react-multiple-carousel__arrow--left {
  left: -1px !important;
}
.react-multiple-carousel__arrow--right {
  right: -1px !important;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

/* ---------products---------- */
.nav-item:hover .dropdown-menu {
  display: block;
}
.topnav {
  top: 57px;
  padding: 0;
}
.fsize {
  font-size: 14px;
  font-weight: bolder;
}
.dropdown-menu {
  box-shadow: 0px 0px 2px 0px grey;
  margin-top: 0px !important;
  width: 1248px;
  padding: 0;
  /* position: absolute; */
  /* width:max-content */
}
.menu {
  left: -18px;
}
.menu1 {
  left: -160px;
}
.menu2 {
  left: -344px;
}
.menu3 {
  left: -447px;
}
.dropdown-menu li {
  padding: 5px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  color: #00000096;
}
